{:paths ["development/src"
         "development/resources"
         ;; Components src
         "components/data-schema-protocol/src"
         "components/field-types/src"
         "components/malli-data-schema/src"
         "components/graph-data-schema/src"]

 :deps {metosin/malli {:mvn/version "0.20.0"}}

 :aliases
 {:test {:extra-paths ["components/data-schema-protocol/test"
                       "components/field-types/test"
                       "components/malli-data-schema/test"
                       "components/graph-data-schema/test"]
         :extra-deps {}}}}
