{:paths ["src" "resources"]
 :deps {graphden/graph-storage-datomic {:local/root "../graph-storage-datomic"}
        graphden/base-functions {:local/root "../base-functions"}
        graphden/fn-registry {:local/root "../fn-registry"}
        graphden/storage-protocol {:local/root "../storage-protocol"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {graphden/executor {:local/root "../executor"}}}}}
