;; Splint configuration
;; https://github.com/NoahTheDuke/splint

{;; Enable all rules by default, with exceptions

 ;; Paths to lint
 :paths ["components" "bases" "development"]

 ;; Output format
 :output "full"

 ;; Parallel processing
 :parallel true}
