{:aliases
 {:dev
  {:extra-paths
   [;; Development
    "development/src"
    ;; Components
    "components/schema/src"
    "components/schema-malli/src"
    "components/storage/src"
    "components/storage-memory/src"
    "components/cache/src"
    "components/cache-eager/src"
    "components/graph/src"
    ;; Base
    "bases/dev/src"
    "bases/dev/resources"]

   :extra-deps
   {org.clojure/clojure {:mvn/version "1.12.0"}
    integrant/integrant {:mvn/version "0.13.1"}
    metosin/malli {:mvn/version "0.18.0"}
    com.taoensso/timbre {:mvn/version "6.6.2"}
    org.slf4j/slf4j-nop {:mvn/version "2.0.17"}}}

  :test
  {:extra-paths
   ["development/src"
    ;; Components src
    "components/schema/src"
    "components/schema-malli/src"
    "components/storage/src"
    "components/storage-memory/src"
    "components/cache/src"
    "components/cache-eager/src"
    "components/graph/src"
    ;; Base
    "bases/dev/src"
    "bases/dev/resources"
    ;; Test paths
    "components/schema/test"
    "components/schema-malli/test"
    "components/storage/test"
    "components/storage-memory/test"
    "components/cache/test"
    "components/cache-eager/test"
    "components/graph/test"]

   :extra-deps
   {org.clojure/clojure {:mvn/version "1.12.0"}
    integrant/integrant {:mvn/version "0.13.1"}
    metosin/malli {:mvn/version "0.18.0"}
    lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :poly
  {:extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}
   :main-opts ["-m" "polylith.clj.core.poly-cli.core"]}

  :nrepl
  {:extra-deps
   {nrepl/nrepl {:mvn/version "1.3.1"}
    cider/cider-nrepl {:mvn/version "0.55.7"}
    refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
   :main-opts
   ["-m" "nrepl.cmdline"
    "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}}}
