{:top-namespace "graphden"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}

 :vcs {:name "git"
       :auto-add false}

 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}


 ;; Projects
 :projects {"development" {:alias "dev"}
            "executor-server" {:alias "exec"
                               ;; These components are used by executor-runtime base
                               ;; but polylith doesn't detect the transitive usage
                               :necessary ["executor" "fn-composition" "fn-registry"
                                          "base-functions" "http-kit-fns"
                                          "reitit-fns" "web-server-fns"]}}}
