{:paths ["src" "resources"]
 :deps {graphden/memory-storage {:local/root "../memory-storage"}
        graphden/versioned-data-schema {:local/root "../versioned-data-schema"}
        graphden/versioned-storage {:local/root "../versioned-storage"}
        graphden/malli-data-schema {:local/root "../malli-data-schema"}
        graphden/storage-protocol {:local/root "../storage-protocol"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
