{:paths ["src" "resources"]
 :deps {graphden/storage-protocol {:local/root "../storage-protocol"}
        graphden/data-schema-protocol {:local/root "../data-schema-protocol"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1203"}
        com.zaxxer/HikariCP {:mvn/version "6.2.1"}
        org.postgresql/postgresql {:mvn/version "42.7.4"}
        cheshire/cheshire {:mvn/version "5.13.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.testcontainers/postgresql {:mvn/version "1.20.4"}
                               org.testcontainers/testcontainers {:mvn/version "1.20.4"}}}}}
