{;; Schema Provider - Malli implementation
 :graphden.schema-malli.core/provider
 {:schemas
  {:node [:map
          [:node-name :keyword]
          [:parent-name {:optional true} [:maybe :keyword]]
          [:args [:vector
                  [:map
                   [:arg-name :keyword]
                   [:arg-val :any]]]]]

   :arg [:map
         [:arg-name :keyword]
         [:arg-val :any]]}

  :relations
  {:node->parent {:from :node :to :node :field :parent-name}}

  :derived-queries
  #{:root-ancestor :full-args :children :arg-refs}}

 ;; Storage - In-memory implementation
 :graphden.storage-memory.core/storage
 {:initial-data {}}

 ;; Cache - Eager cache implementation
 :graphden.cache-eager.core/cache
 {}

 ;; Graph - Main component
 :graphden.graph.core/graph
 {:storage #ig/ref :graphden.storage-memory.core/storage
  :schema-provider #ig/ref :graphden.schema-malli.core/provider
  :cache #ig/ref :graphden.cache-eager.core/cache}}
