{:paths ["src" "resources"]
 :deps {graphden/executor {:local/root "../executor"}
        graphden/fn-registry {:local/root "../fn-registry"}
        metosin/reitit {:mvn/version "0.7.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
