{:paths ["src" "resources"]
 :deps {graphden/executor {:local/root "../executor"}
        graphden/fn-registry {:local/root "../fn-registry"}
        graphden/http-kit-fns {:local/root "../http-kit-fns"}
        graphden/reitit-fns {:local/root "../reitit-fns"}
        graphden/storage-protocol {:local/root "../storage-protocol"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
